<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="renderer" content="webkit"></meta>
  #if($faviconUrl)
    <link rel="icon" href="${faviconUrl}">
  #end
  <title>统计报表</title>
  <style>
    * {
      font-family: "simsun";
    }
    .main-container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
    .main-container .title{
      text-align: center;
      margin-bottom: 0px;
    }
    .table {
      border-spacing: 0;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 40px;
      font-size: 14px;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
      padding: 5px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
      border: 1px solid;
    }
    .table tr.width-container td{
      padding: 0;
      border: 0;
    }
    .table tr td p{
      margin-top: 0;
    }
    .table tr td p:last-child{
      margin-bottom: 0;
    }
    .table tr td .image-container {
      text-align: center;
    }
    .table tr td .image-container img{
      max-width: 170px;
      max-height: 120px;
      margin-right: 10px;
      display:inline-block;
      float:left;
    }
    .inscriber {
      text-align: right;
      padding-right: 250px;
      margin-bottom: 20px;
    }
    .print-group {
      text-align: right;
    }
    .print-group .btn{
      font-size: 14px;
      line-height: 24px;
      margin-left: 5px;
    }
  </style>
  <style media="print">
    .ignore-print-btn {
      display: none;
    }
  </style>
</head>
<body>
<div class="main-container">
  <div class="print-group ignore-print-btn">
    <button onclick="window.print()" class="btn">
      打印
    </button>
	#if($pdfUrl)
    <button onclick="window.open(`${pdfUrl}`)" class="btn">
      下载
    </button>
	#end
  </div>
  <h2 class="title">${clazz.name}</h2>
  <h2 class="title">统计报表</h2>
  <table border="0" class="table" cellspacing="0">
    <!-- 控制单元格宽度 -->
    <tr class="width-container">
      <td width="16%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
    </tr>
    <tr>
      <td>企业名称</td><td colspan="5">$!{orgName}</td>
    </tr>
    <tr>
      <td>培训周期</td><td colspan="5">$!{period}</td>
    </tr>
    <tr>
      <td>企业学员总数</td>
      <td colspan="2">$!{orgStuCount}</td>
      <td>参加学习人数</td>
      <td colspan="2">$!{altogether}</td>
    </tr>
    <tr>
      <td>合格人数</td>
      <td colspan="2">$!{passed}</td>
      <td>不合格人数</td>
      <td colspan="2">$!{noPass}</td>
    </tr>
  </table>
  <p class="inscriber">签章：</p>
  <p class="inscriber">日期：</p>
</div>


</body>
</html>
