<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="renderer" content="webkit"></meta>
    #if($faviconUrl)
        <link rel="icon" href="${faviconUrl}">
    #end
    <title>统计报表</title>
    <style>
        * {
            font-family: "simsun";
            word-break: break-all;
        }

        .main-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .main-container .title {
            text-align: center;
            margin-bottom: 0px;
        }

        .main-container .title-desc {
            text-align: right;
        }

        .table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 40px;
            font-size: 14px;
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            padding: 5px;
            line-height: 1.35;
            vertical-align: top;
            border-top: 1px solid;
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            border: 1px solid;
        }

        .table tr.width-container td {
            padding: 0;
            border: 0;
            height: 1px;
            line-height: 1px;
        }

        .table tr td p {
            margin-top: 0;
        }

        .table tr td p:last-child {
            margin-bottom: 0;
        }

        .table tr td .image-container {
            text-align: center;
        }

        .table tr td .image-container img {
            max-width: 170px;
            max-height: 120px;
            margin-right: 10px;
            display: inline-block;
            float: left;
        }

        .face img {
            max-width: 60px;
            height: auto;
        }

        .inscriber {
            text-align: right;
            padding-right: 250px;
            margin-bottom: 20px;
        }

        .print-group {
            text-align: right;
        }

        .print-group .btn {
            font-size: 14px;
            line-height: 24px;
            margin-left: 5px;
        }
    </style>

    <style media="print">
        .ignore-print-btn {
            display: none;
        }
    </style>

</head>
<body>
<div class="main-container">
    <div class="print-group ignore-print-btn">
        <button onclick="window.print()" class="btn">
            打印
        </button>
        #if($pdfUrl)
            <button onclick="window.open(`${pdfUrl}`)" class="btn">
                下载
            </button>
        #end
    </div>
    <h2 class="title">$!{orgName}</h2>
    <h2 class="title">${clazz.name}报告</h2>
    <div class="title-desc">&nbsp;</div>
    <table border="0" class="table" cellspacing="0">
        <!-- 控制单元格宽度 -->
        <tr class="width-container">
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">学习方式</td>
            <td colspan="5">线上培训</td>
            <td colspan="3">计划时间</td>
            <td colspan="13">$!{period}</td>
        </tr>
        <tr>
            <td colspan="3">培训内容</td>
            <td colspan="21">本期课程主要内容包括：$!{clazzRule.desc}</td>
        </tr>
        <tr>
            <td colspan="6">参训人次：$!{altogether}</td>
            <td colspan="6">离职人次：$!{resignNum}</td>
            <td colspan="6">完成人次：$!{passed}</td>
            <td colspan="6">完成率：$!{percent}%</td>
        </tr>

        <tr>
            <td colspan="2">序号</td>
            <td colspan="2">姓名</td>
            <td colspan="3">身份证号</td>
            <td colspan="2">岗位</td>

            <td colspan="3">联系电话</td>
            <td colspan="2">车牌号</td>
            <td colspan="2">培训状态</td>
            <td colspan="8">学习照片</td>
        </tr>
        #set ($count = 0)
        #foreach($data in $datas)
            #set ($count = $count + 1)
            <tr>
                <td colspan="2">$!{count}</td>
                <td colspan="2">$!{data.name}</td>
                <td colspan="3">$!{data.idNo}</td>
                <td colspan="2">$!{data.personType}</td>

                <td colspan="3">$!{data.mobile}</td>
                <td colspan="2">$!{data.licenseNum}</td>
                <td colspan="2">#if($data.passed) 通过 #else 未通过 #end</td>
                <td colspan="8" class="face">
                    #foreach($face in $data.faces)
                        <img src="$face">
                    #end
                </td>
            </tr>
        #end
    </table>
    <p class="inscriber">签章：</p>
    <p class="inscriber">日期：</p>
</div>


</body>
</html>
