<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="renderer" content="webkit"></meta>
    #if($faviconUrl)
        <link rel="icon" href="${faviconUrl}">
    #end
    <title>统计报表</title>
    <style>
        * {
            font-family: "simsun";
        }

        .main-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .main-container .title {
            text-align: center;
            margin-bottom: 0px;
        }

        .main-container .title-desc {
            text-align: right;
        }

        .table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 40px;
            font-size: 14px;
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            padding: 5px;
            line-height: 1.35;
            vertical-align: top;
            border-top: 1px solid;
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            border: 1px solid;
        }

        .table tr.width-container td {
            padding: 0;
            border: 0;
            height: 1px;
            line-height: 1px;
        }

        .table tr td p {
            margin-top: 0;
        }

        .table tr td {
            word-break: break-all !important;
        }

        .table tr td p:last-child {
            margin-bottom: 0;
        }

        .table tr td .image-container {
            text-align: center;
        }

        .table tr td .image-container img {
            max-width: 170px;
            max-height: 120px;
            margin-right: 10px;
            display: inline-block;
            float: left;
        }

        .print-group {
            text-align: right;
        }

        .print-group .btn {
            font-size: 14px;
            line-height: 24px;
            margin-left: 5px;
        }

        .sign-container,
        .face-container {
            vertical-align: middle !important;
            text-align: center !important;
        }

        .face-container > img ,
        .sign-container > img {
            max-width: 100%;
        }
        .sign-container > img{
            max-height: 30px;
        }
    </style>

    <style media="print">
        .ignore-print-btn {
            display: none;
        }
        .face-container > img ,
        .sign-container > img {
            max-width: 75px;
        }
    </style>

</head>
<body>
<div class="main-container">
    <div class="print-group ignore-print-btn">
        <button onclick="window.print()" class="btn">
            打印
        </button>
        <button onclick="window.open(`${pdfUrl}`)" class="btn">
            下载
        </button>
    </div>
    <h2 class="title">$!{orgName}</h2>
    <h2 class="title">$!{clazz.name}培训报告</h2>
    <table border="0" class="table" cellspacing="0">
        <!-- 控制单元格宽度 -->
        <tr class="width-container">
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
        </tr>

        <tr>
            <td colspan="3">计划时间</td>
            <td colspan="21">
                #if($clazz.startDate && $clazz.endDate)
                    $_util.format($clazz.startDate,'yyyy-MM-dd') 至 $_util.format($clazz.endDate,'yyyy-MM-dd')
                #else
                    &nbsp;
                #end
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height: 100px;">培训内容</td>
            <td colspan="21">本期课程主要内容包括：$!{clazzRule.desc}</td>
        </tr>

        #set ($count = 0)
        #set ($arrTmp = [])
        #foreach($data in $datas)
            #set ($count = $count + 1)
            #if($count == 1)
            <tr>
            #end
            <td colspan="3" rowspan="4" class="face-container">
                #if($data.faces && $data.faces.get(0))
                    <img src="$data.faces.get(0)">
                #else
                    &nbsp;
                #end
            </td>
            <td colspan="2">姓名</td>
            <td colspan="3">$!{data.name}</td>

            #if($count == 3)
            </tr>
            #end

            ## 需要定义个变量来接收，否则会往页面上输出"true"
            #set ($tmp = $arrTmp.add({"sign": $data.signImg, "score": $data.examScore, "pass":  $data.examPass}))

            #if($count % 3 == 0)
                <tr>
                    #foreach($item in $arrTmp)
                        <td colspan="2">签名</td>
                        <td colspan="3" class="sign-container">
                            #if($item.sign)
                                <img src="$item.sign">
                            #else
                                &nbsp;
                            #end
                        </td>
                    #end
                </tr>
                <tr>
                    #foreach($item in $arrTmp)
                        <td colspan="2">分数</td>
                        <td colspan="3">#if($item.score)$item.score #else 0 #end</td>
                    #end
                </tr>
                <tr>
                    #foreach($item in $arrTmp)
                        <td colspan="2">及格</td>
                        <td colspan="3">#if($item.pass)是 #else 否 #end</td>
                    #end
                </tr>
                #set ($count = 0)
                #set ($arrTmp = [])
            #end
        #end

        #if($count % 3 >= 1)
            <td colspan="3" rowspan="4" class="face-container">&nbsp;</td>
            <td colspan="2">姓名</td>
            <td colspan="3">&nbsp;</td>

            #if($count % 3 == 1)
                <td colspan="3" rowspan="4" class="face-container">&nbsp;</td>
                <td colspan="2">姓名</td>
                <td colspan="3">&nbsp;</td>
            #end
            </tr>
        #end

        #if($count % 3 >= 1)
            <tr>
                #foreach($item in $arrTmp)
                    <td colspan="2">签名</td>
                    <td colspan="3" class="sign-container">
                        #if($item.sign)
                            <img src="$item.sign">
                        #else
                            &nbsp;
                        #end
                    </td>
                #end
                <td colspan="2">签名</td>
                <td colspan="3">&nbsp;</td>
                #if($count % 3 == 1)
                    <td colspan="2">签名</td>
                    <td colspan="3">&nbsp;</td>
                #end
            </tr>
            <tr>
                #foreach($item in $arrTmp)
                    <td colspan="2">分数</td>
                    <td colspan="3">$!{item.score}</td>
                #end
                <td colspan="2">分数</td>
                <td colspan="3">&nbsp;</td>
                #if($count % 3 == 1)
                    <td colspan="2">分数</td>
                    <td colspan="3">&nbsp;</td>
                #end
            </tr>
            <tr>
                #foreach($item in $arrTmp)
                    <td colspan="2">及格</td>
                    <td colspan="3">#if($item.pass)是 #else 否 #end</td>
                #end
                <td colspan="2">及格</td>
                <td colspan="3">&nbsp;</td>
                #if($count % 3 == 1)
                    <td colspan="2">及格</td>
                    <td colspan="3">&nbsp;</td>
                #end
            </tr>
        #end

    </table>
</div>


</body>
</html>
