<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="renderer" content="webkit"></meta>
    #if($faviconUrl)
        <link rel="icon" href="${faviconUrl}">
    #end
    <title>统计报表</title>
    <style>
        * {
            font-family: "simsun";
        }

        .main-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .main-container .title {
            text-align: center;
            margin-bottom: 0px;
        }

        .main-container .title-desc {
            text-align: right;
        }

        .table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 40px;
            font-size: 14px;
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            padding: 5px;
            line-height: 1.35;
            vertical-align: top;
            border-top: 1px solid;
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            border: 1px solid;
        }

        .table tr.width-container td {
            padding: 0;
            border: 0;
            height: 1px;
            line-height: 1px;
        }

        .table tr td {
            text-align: center;
            vertical-align: middle;
        }

        .table tr td p {
            margin-top: 0;
        }

        .table tr td img {
            max-width: 90px;
            height: auto;
        }

        .table tr td p:last-child {
            margin-bottom: 0;
        }

        .table tr td .image-container {
            text-align: center;
        }

        .table tr td .image-container img {
            max-width: 170px;
            max-height: 120px;
            margin-right: 10px;
            display: inline-block;
            float: left;
        }

        .print-group {
            text-align: right;
        }

        .print-group .btn {
            font-size: 14px;
            line-height: 24px;
            margin-left: 5px;
        }
        tr.clear-center > td{
            text-align: left;
        }
    </style>
    <style media="print">
        .ignore-print-btn {
            display: none;
        }
    </style>
</head>
<body>
<div class="main-container">
    <div class="print-group ignore-print-btn">
        <button onclick="window.print()" class="btn">
            打印
        </button>
        #if($pdfUrl)
            <button onclick="window.open(`${pdfUrl}`)" class="btn">
                下载
            </button>
        #end
    </div>
    <h2 class="title">安全宣传教育培训活动记录</h2>
    <div class="title-desc">
        #if($clazz.startDate && $clazz.endDate)
            $_util.format($clazz.startDate,'yyyy年MM月dd日') — $_util.format($clazz.endDate,'yyyy年MM月dd日')
        #else
            &nbsp;
        #end
    </div>
    <table border="0" class="table" cellspacing="0">
        <!-- 控制单元格宽度 -->
        <tr class="width-container">
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
            <td width="4.167%">&nbsp;</td>
        </tr>
        <tr class="clear-center">
            <td colspan="3">活动名称</td>
            <td colspan="21">$_util.format($clazz.startDate,'yyyy年M月')驾驶员安全教育签到表</td>
        </tr>
        <tr class="clear-center">
            <td colspan="3">参加对象</td>
            <td colspan="21">驾驶员</td>
        </tr>
        <tr class="clear-center">
            <td colspan="3">地点</td>
            <td colspan="12">网络授课</td>
            <td colspan="2">主讲人</td>
            <td colspan="7">&nbsp;</td>
        </tr>
        <tr class="clear-center">
            <td colspan="3">参加人数</td>
            <td colspan="12">&nbsp;</td>
            <td colspan="2">记录人</td>
            <td colspan="7">&nbsp;</td>
        </tr>

        <tr class="clear-center">
            <td colspan="3" style="height: 100px;">教育培训内容</td>
            <td colspan="21">$!{clazzRule.desc}</td>
        </tr>

        <tr>
            <td colspan="24" style="text-align: center">参加活动的人员签名</td>
        </tr>
        <tr>
            <td colspan="2">序号</td>
            <td colspan="2">驾驶员</td>
            <td colspan="3">签名</td>
            <td colspan="3">学习完成时间</td>
            <td colspan="2">培训考核结果</td>

            <td colspan="2">序号</td>
            <td colspan="2">驾驶员</td>
            <td colspan="3">签名</td>
            <td colspan="3">学习完成时间</td>
            <td colspan="2">培训考核结果</td>
        </tr>

        #set ($count = 0)
        #foreach($data in $datas)
        ##      如需要只显示通过的，放开以下注释
            #if($data.passed)
                #set ($count = $count + 1)
                #if($count%2!=0)
                <tr>
                #end
                <td colspan="2">${count}</td>
                <td colspan="2">$!{data.name}</td>
                <td colspan="3">
                    #if($data.signImg)
                        <img src="$data.signImg"/>
                    #else
                        &nbsp;
                    #end
                </td>
                <td colspan="3">$!{_util.format($data.finishDate,'yyyy-MM-dd')}<br/>（$!{data.duration}学时）</td>
                <td colspan="2">#if($data.passed)合格 #else 不合格 #end</td>
                #if($count%2==0)
                </tr>
                #end
            #end
        #end

        #if($count > 0 && $count % 2 !=0 )
            <td colspan="2">&nbsp;</td>
            <td colspan="2">&nbsp;</td>
            <td colspan="3">&nbsp;</td>
            <td colspan="3">&nbsp;</td>
            <td colspan="2">&nbsp;</td>
            </tr>
        #end
    </table>
</div>

</body>
</html>
